body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

main {
  padding: 20px;
  
}

section {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
  margin-top: 0;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
  
}

th, td{
  padding: 5px 10px;
}

.books_available_head{
  display: flex;
  /* flex-direction: column;  */
}

.submit_btns{
  border: 1px solid black;
  border-radius: 5px;
  max-width: 150px;
}

.card_container{
  width: 70%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 10px;
  column-gap: 10px;
  margin: auto;
}

.card{
  display: flex;
  /* flex-direction: column; */
}

.card form{
  display: flex;
  flex-direction: column;

}

.card form *{
  margin-top: 8px;
}

.card form input{
  width: 50%;
}


.radio_group *{
  width: 50%;

}
.radio_group{
  display: flex;
}

.radio_group label{
  line-height: 100%;
  /* text-align: center; */
}

.card form input{
  border-radius: 5px;
}
@media only screen and (max-width: 1000px){
  .card_container{
    grid-template-columns: 1fr;
  }
  .submit_btns{
    max-width: 120px;
  }
  .card_container{
    width: 90%;
  }
}
